.lead__image {
  width: 100%;
}

@media all and (max-width: 768px) {
  .lead__image {
    height: 480px;
  }
}

@media all and (max-width: 425px) {
  .lead__image {
    width: auto;
    height: 200px;
  }
}